{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}

<div class="container">
    <form action="{% url 'core:categories' %}" method="post" class="form-flex">
        {% csrf_token %}
        {% for field in category_form %}
        <div class="mb-3">
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">💾</button>
    </form>
</div>

<div class="container">
    <table class="form-container">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                {% if user_role == 'admin' %}
                <td>
                    <a href="{% url 'core:category-delete' category.id %}" class="btn btn-danger">Delete</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock  %}